
<div class="search-bar">
<!--   Mettre dans cette div la searchbar
 -->  <form>
              <div class="form-group">
                <label for="address">Trouvez votre appareil</label>
                <input type="address" id="your-address" placeholder="Votre addresse">
              </div>
              <div class="form-group">
                <%=link_to "Say cheese!", devices_path, class: "btn btn-outline-warning" %>
              </div>
            </form
</div>
<div class="devices-and-map">
  <div class="devices">
    <h1>Appareils à raclette </h1>
    <ul class="articles">
      <% @devices.each do |device| %>
        <li> <%= link_to device_path(device) do %>
          <div class="card-product">
            <img src="https://source.unsplash.com/500x500/?cheese" />
            <div class="card-product-infos">
              <%= device.name %>
              <p> <strong> <%= device.capacity %> </strong> personnes </p>
              <p> <%= device.brand %> </p>
              <p> <%= device.device_type %> </p>
              <p> <%= device.price %>€ </p>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class="map">
    <div id="map"
     style="width: 30vw; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

