
<div class="margin-constraint">
  <div class="search-bar">
    <div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
  </div>
  <div class="devices-and-map row">
    <div class="devices col-8">
      <h1>Les <%= @devices.count %> appareils à louer</h1>
      <ul class="articles">
        <% @devices.each do |device| %>
        <li> <%= link_to device_path(device) do %>
          <div class="card-product">
            <%= cl_image_tag device.photos.first.key %>
            <div class="card-product-infos">
              <h2>Appareil <%= device.device_type %> <%= device.brand %></h2>
              <p><%= device.capacity %> <i class="fas fa-users"></i></p>
            </div>
            <h3 class="card-product-pricing"><%= device.price %>€</h3>
          </div>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <div class="map col-4">
      <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      <!-- style="width: 40vw; height: 100vh;" -->
    </div>
    </div>
  </div>
</div>


