<div class="container">
  <%= link_to 'Retour aux recherches', devices_path, class: "button-search" %>
  <div class="product-and-reservation">
    <div class="product-container">
      <div class="card-product-show">
        <% @device.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
          <div class="card-product-infos-show">
            <h2 class="product-name"><%= @device.name %></h2>
            <hr>
            <p><strong><span>Marque :</span></strong><span style="margin-left: 5px;"> <%= @device.brand %></span></p>
            <div class="capacity">
             <i class="fas fa-users"></i>
             <p> <%=@device.capacity %> personnes</p>
            </div>
            <div class="type">
              <i class="fas fa-bolt"></i>
              <p><strong><span>Type :</span></strong><span style="margin-left: 5px;"> <%= @device.device_type %></span></p>
            </div>
            <div class="price">
              <i class="fas fa-money-bill-wave"></i>
              <p id="euros"> <%= @device.price %> € / jour</p>
            </div>
        </div>
      </div>
      <div class="owner">
        <hr>
        <div class="user-show">
        <i class="far fa-user"></i>
        <p><strong><span>Loueur :</span></strong><span style="margin-left: 3px;"> <%= @device.user.first_name %></span style="margin-right: 3px;"></p>
        <p><strong><span>(<%=@device.user.reservations.count%></span style="margin-left: 3px;"></strong><span style="margin-left: 3px;"> réservation)</span></p>
        </div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i>
          <p> <strong> Addresse : </strong><%= @device.address%></p>
        </div>
        <div class="date">
        <i class="far fa-calendar-alt"></i>
        <p> <strong> Annonce créée le : </strong><%= @device.created_at%></p>
        </div>
      </div>
    </div>
    <div class="reservations-container">
     <div class="reservations text-center">
      <h4>Réservez votre appareil</h4>
    <%= simple_form_for [ @device, @reservation ] do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.submit "Réserver", class: "reservation-button" %>
      <% end %>
     </div>
    </div>
  </div>
</div>
