<div class="container">
  <%= link_to 'Retour aux recherches', devices_path %>
  <div class="product-and-reservation">
    <div class="product-container">
      <div class="card-product-show">
        <% @device.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
          <div class="card-product-infos-show">
            <h2 class="product-name"><%= @device.name %></h2>
            <hr>
            <p><strong>Marque :</strong> <%= @device.brand %></p>
            <div class="capacity">
             <p> <strong>Capacité : </strong><%=@device.capacity %> personnes</p>
             <i class="fas fa-users"></i>
            </div>
            <div class="type">
              <p><strong>Type :</strong> <%= @device.device_type %></p>
            </div>
            <div class="price">
              <h3><%#= @device.price %></h3>
            </div>
        </div>
      </div>
      <div class="owner">
        <hr>
        <p> <strong> Loueur : </strong><%= @device.user.first_name %></p>
        <p> <strong> Membre depuis le : </strong><%= @device.user.created_at %></p>
        <p> <strong> Addresse : </strong><%= @device.address%></p>
        <p> <strong> Annonce créée  : </strong><%= @device.created_at%></p>
      </div>

    </div>
    <div class="reservations-container">
     <div class="reservations text-center">
      <h4>Réservez votre appareil</h4>
    <%= simple_form_for [ @device, @reservation ] do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.submit "Réserver", class: "btn btn-outline-warning" %>
      <% end %>
     </div>
    </div>
  </div>
</div>
