<div class="container">
  <div class= "text-main">
    <h1><strong>Hello <%= @user.first_name %>! </strong></h1>
    <h4><em>Bienvenue sur votre tableau de bord 🧀</em></h4>
  </div>
  <br>
<!--   <p> you can put here the user information</p>
  <p>Display the user reservations others raclette device</p>
  <p>Display the reservations for his raclette device if there is some</p>
  <p>for each reservation, add buttons to modify the reservation</p>
  <p> The user can only delete a reservation for his own raclette device that is booked by another user</p> -->
<div class="cards-main">
  <div class="card-dashboard">
    <!-- user information box (maybe use card )-->
    <!-- maybe add avatar (same as navbar) -->
    <h5> <strong> Vos informations</strong> </h5>
    <p> Prénom : <%= @user.first_name %> </p>
    <p> Nom : <%= @user.last_name %> </p>
    <p> email: <%= @user.email %> </p>
  </div>
  <div class="card-dashboard">
    <h5> <strong> Vos réservations</strong> </h5>
    <p> Nombre de réservations sur racleat : <%= @user.reservations.count %> </p>
    <p> Nombre d'appareils en réservation sur Racleat : <%= @user.devices.count %></p>
  </div>
</div>
  <hr>
  <br>

  <!-- bookings list - use cards like the index -->
  <div class="card-main">
    <div> <h2>Vos réservations </h2> </div>

    <% @user.reservations.each do |reservation| %>
    <div class="card-product-dashboard">
      <div class="card-product-dashboard-infos">
        <ul>
          <li>
            <h4> <%= reservation.device.name %> </h4>
            <p> De <%= reservation.start_date.strftime("%d-%m-%Y") %> à <%= reservation.end_date.strftime("%d-%m-%Y") %> </p>
            <p> Adresse de l'appareil: <%= reservation.device.address %> </p>
            <p> Prix de la réservation : <%= reservation.total_price %> €</p>
            <p> Capacité : <%= reservation.device.capacity %>  </p>
            <p> Marque : <%= reservation.device.brand %> </p>
            <p> Categorie : <%= reservation.device.device_type %> </p>
            <%= link_to "voir l'appareil", device_path(reservation.device)  %>
          </li>
        </ul>
      </div>
      <%= cl_image_tag reservation.device.photos.first.key, class: "img", alt: "" %>
    </div>
  <% end %>
  <br>
  <hr>
  <br>


<!-- list of user devices -->
  <div class="card-main">
    <div> <h2> Vos appareils en location </h2> </div>
      <% @user.devices.each do |device| %>
      <div class="card-product-dashboard">
        <div class="card-product-dashboard-infos">
          <ul>
            <li>
              <h4> <%= device.name %> </h4>
              <p> Disponible depuis : <%= device.created_at.strftime("%d-%m-%Y") %> </p>
              <p> Adresse : <%= device.address %> </p>
              <p> Prix journalier : <%= device.price %> €</p>
              <p> Capacité : <%= device.capacity %>  </p>
              <p> Marque : <%= device.brand %> </p>
              <p> Categorie : <%= device.device_type %> </p>
            </li>
          </ul>
        </div>
        <%= cl_image_tag device.photos.first.key, class: "img", alt: "" %>
      </div>
    <% end %>
   </div>
</div>
<br>
<br>
<hr>
<br>
<br>
